/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css'
@import '~font-awesome/css/font-awesome.min.css'

$primary:    #387ef5
$secondary:  #32db64
$danger:     #f53d3d
$light:      #f4f4f4
$dark:       #222

.bg-primary
    background: $primary